/* styles.css */

:root {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
    padding: 15px 25px;
}
img {
    width: 500px;
    height: auto;
    border-radius: 15px;
}

a:hover {
    color: orange;
}

@media (max-width: 600px) {
    img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    body {
        padding: 5px 15px;
    }
}